@media only screen and (max-width: 1000px) {
    html{
        font-size: 6px;
    }    
    .mainPart>section {
    width: 90%;
    }
    .headPart {
        width: 90%;
    }
    .footPart{
        flex: 50px 0 0;
        width: 90%;
    }    
}
