@media only screen and (max-width: 1000px) {
    html{
        font-size: 6px;
    }    
    .mainPart>section {        
        width: 90%;
    }
    .headPart {
        width: 90%;
    }
    .footPart{
        width: 90%;
    }    
}
